In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
with open("data_kotor.csv", "w") as f:
    f.write("""nama , umur , tanggal_lahir , gaji 
 Andi , 23 , 2000/01/01 , 5000000
Budi ,   , 1998-12-12 ,  10000000 
Citra , 27 , 01-05-1996 ,   15000000
Dedi , dua puluh lima , 1999/11/30 , Rp 17000000 
Eka,30,,20000000
""")

In [6]:
data = pd.read_csv('data_kotor.csv')

In [7]:
data.columns = data.columns.str.strip()

In [8]:
data = data.map(lambda x: x.strip() if isinstance(x, str) else x)

In [9]:
def convert_age(val):
    try:
        return int(val)
    except:
        return np.nan

data['umur'] = data['umur'].apply(convert_age)

In [10]:
data['gaji'] = data['gaji'].replace(r'Rp\s*', '', regex=True).astype(int)

In [11]:
data['tanggal_lahir'] = pd.to_datetime(data['tanggal_lahir'], errors='coerce')

In [12]:
data['umur'] = data['umur'].fillna(data['umur'].mean().round())
data['tanggal_lahir'] = data['tanggal_lahir'].fillna(pd.to_datetime('2000-01-01'))

In [13]:
print("Data setelah dibersihkan:")
print(data)

Data setelah dibersihkan:
    nama  umur tanggal_lahir      gaji
0   Andi  23.0    2000-01-01   5000000
1   Budi  27.0    2000-01-01  10000000
2  Citra  27.0    2000-01-01  15000000
3   Dedi  27.0    1999-11-30  17000000
4    Eka  30.0    2000-01-01  20000000